.hidden
{
	display: none;
}

/*images can scale or shrink, but not scale past actual dimensions*/
body
{
	font-family: Helvetica, Arial, sans-serif;
}

.container
{
	margin: 0 auto;
	max-width: 1140px;
	background-color: #efefef;
}

.box
{
	background-color: #8ea86e;
	color: #fff;
	text-align: center;
}


@media screen and (min-width: 340px) {

	.container
	{
		display: flex;
		flex-direction: column;
	}

	.box
	{
		width: 100%;
	}
	.box1
	{
		background-color: pink;
	}
	.box2
	{
		background-color: red;
	}
	.box3
	{
		visibility: hidden;
	}
	.box4
	{
		visibility: hidden;
	}


}

@media screen and (min-width: 641px) {

	.container
	{
		display: flex;
		flex-direction: row;
	}

	.box
	{
		width: 25%;
	}
	.box1
	{
		background-color: blue;
	}
	.box2
	{
		background-color: purple;
	}
	.box3
	{
		visibility: visible;
		background-color: grey;
	}
	.box4
	{
		visibility: visible;
		background-color: brown;
	}

}


@media screen and (max-width: 1140px) {

	.container
	{
		display: flex;
		flex-direction: row;
	}

	.box
	{
		width: 25%;
	}
	.box1
	{
		background-color: blue;
	}
	.box2
	{
		background-color: purple;
	}
	.box3
	{
		visibility: visible;
		background-color: grey;
	}
	.box4
	{
		visibility: visible;
		background-color: brown;
	}


}



